
.navbar{
  background-color: #377aff;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.funcBtn{
  margin-right: 0px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
}
.funcBtn button{
  z-index: 1000;
  width: 25px;
  cursor: pointer;
}
.navbar li a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.navbar li a:hover{
  color: #f1f1f1;
}
.navbar .drag-header{
  width: 100%;
  /* background-color: greenyellow; */
  -webkit-app-region: drag;

}
.navbar li {
  list-style: none;
}


.drop_area{
  margin-top: 50px;
  margin-left: 60px;
}